registry=http://sinopia.legacyobit.int:4873/
@babel:registry=https://registry.npmjs.org
@wdio:registry=https://registry.npmjs.org
@types:registry=https://registry.npmjs.org
@codeceptjs:registry=https://registry.npmjs.org
@azure:registry=https://registry.npmjs.org
